<p>Selecciona una de las siguientes opciones para realizar tú dimensionamiento</p>

<table style="width:100%" align="left">
  <tr>
    <th bgcolor="#00008B" style="color: white;">Dimensionamiento para...</th>
    <th bgcolor="#00008B" style="color: white;">Sabor</th>
  </tr>
  <tr>
    <td>Cloud Paks</td>
    <td><form action="/cp4d" method="get">
      <!--label for="name"><input type="text" id="name" name="name"-->
      <button type="submit">Cloud Pak for Data</button>
    </form>
    </td>
  </tr>
</table>
