<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Optimizador dimensionamiento</title>
  <style>
    .currSign:before {
        content: '$';
    }
  </style>
</head>
<body>
  <table  style="width:100%" align="left">
    <thead>
      <tr>
        <th >
          <object type="image/svg+xml" data="image.svg">
            <!-- Your fall back here -->
            <img width="150" height="60" src="https://www.prime-alliance.org/wp-content/uploads/2020/11/IBM-LOGO.png" />
          </object>
        </th>
        <th ><h1>Dimensionamiento Orquestadores de Contenedores</h1></th>
      </tr>
    </thead>
  </table>
  <!-- Javascript code to format the
           number as per the locale -->
      <script>
          let x = document.querySelectorAll(".myDIV");
          for (let i = 0, len = x.length; i < len; i++) {
              let num = Number(x[i].innerHTML)
                        .toLocaleString('en');
              x[i].innerHTML = num;
              x[i].classList.add("currSign");
          }
      </script>

  <%= yield %>
</body>
</html>
